PHOTO_EDIT_HOST=127.0.0.1
PHOTO_EDIT_PORT=7861
PHOTO_EDIT_SHARE=false
PHOTO_EDIT_MODEL_DIR=./models
PHOTO_EDIT_OUTPUT_DIR=./outputs
PHOTO_EDIT_LORA_DIR=./models/loras
PHOTO_EDIT_HF_HOME=./models/huggingface
PHOTO_EDIT_MAX_CONCURRENCY=1
PHOTO_EDIT_AUTH_USER=
PHOTO_EDIT_AUTH_PASSWORD=
HF_TOKEN=
